<!DOCTYPE html>
<html>
<head>
	<title>Spoonflower</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<%= javascript_include_tag 'application'%>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="owl-carousel/owl.theme.css">

	<meta charset="utf-8">
</head>
<body>

	<h1> Searching the Spoonflower Catalog</h1>
	<br> 

	<%= yield %>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="jquery-1.9.1.min.js"></script>

	<script src="assets/owl-carousel/owl.carousel.js"></script>

</body>
</html>





